<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FrontControleur</servlet-name>
        <servlet-class>controleurs.FrontControleur</servlet-class>
        <init-param>
            <param-name>creerJeuDeTest</param-name>
            <param-value>controleurs.secondaire.DonneesCreateCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>PaiementCtrl</param-name>
            <param-value>controleurs.secondaire.PaiementCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>DetailPaiementCtrl</param-name>
            <param-value>controleurs.secondaire.DetailPaiementCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>catalogue</param-name>
            <param-value>controleurs.secondaire.Catalogue</param-value>
        </init-param>
             <init-param>
            <param-name>cuisine</param-name>
            <param-value>controleurs.secondaire.CuisineCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>categorieCatalogue</param-name>
            <param-value>controleurs.client.CarteCtrl</param-value>
        </init-param>
         <init-param>
            <param-name>emplacement</param-name>
            <param-value>controleurs.secondaire.EmplacementCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>BoissonG</param-name>
            <param-value>controleurs.client.CategorieCarteCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>formules</param-name>
            <param-value>controleurs.client.CategorieCarteCtrl</param-value>
        </init-param>        
        <init-param>
            <param-name>AccompagnementG</param-name>
            <param-value>controleurs.client.CategorieCarteCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>EntreeG</param-name>
            <param-value>controleurs.client.CategorieCarteCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>DessertG</param-name>
            <param-value>controleurs.client.CategorieCarteCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>BurgerG</param-name>
            <param-value>controleurs.client.CategorieCarteCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>accueil</param-name>
            <param-value>controleurs.secondaire.AffichageAccueil</param-value>
        </init-param>
         <init-param>
            <param-name>Boisson</param-name>
            <param-value>controleurs.client.BoissonCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>Burger</param-name>
            <param-value>controleurs.client.BurgerCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>Dessert</param-name>
            <param-value>controleurs.client.DessertCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>Accompagnement</param-name>
            <param-value>controleurs.client.AccompagnementCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>Entree</param-name>
            <param-value>controleurs.client.EntreeCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>Formule</param-name>
            <param-value>controleurs.client.FormuleCtrl</param-value>
        </init-param>  
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontControleur</servlet-name>
        <url-pattern>/FrontControleur</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>JeuDeTest</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>traitement.JeuDeTestLocal</local>
        <ejb-link>BigBaldsBurgers-ejb.jar#JeuDeTest</ejb-link>
    </ejb-local-ref>
</web-app>
