
.opacity {
    position: absolute;
    opacity: 50;
    width: 50;		/* for internet explorer */
}

.visibility {
    visibility: hidden;
}

.nodisplay {
    display: none;
}

input[type=radio]+label {
    font-weight: normal;
}
input[type=radio]:checked+label {
    font-weight: bold;
}
input[type=radio]:focus+label {
    border: 1px dotted #000;
}

h1 {
    color: blue    
}

table{
    
    background-color: #0066ff
    
}

td {cursor:hand;
    //color: white

}
.up {border: outset 20 px red;
     height:70px;
     width:70px;
     font-family:verdana;
     text-align:center;
}

.down {border: inset 20 px red;
       height:70px;
       width:70px;
       font-family:verdana;
       text-align:center;
}


